
@{
    ViewBag.Title = "Gráfico";
}

<div class="p-4">

    <h2 class="mb-5 text-muted">@ViewBag.Title</h2>
    <form id="frm">

        <div class="form-row">

            <div class="form-group col-md-6">
                <select class="form-select form-select mb-3" aria-label=".form-select example" id="ChartType">
                    <option value="bar" selected>bar</option>
                    <option value="line">line</option>
                    <option value="pie">pie</option>
                    <option value="doughnut">doughnut</option>
                    <option value="polarArea">polarArea</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-primary" id="Botao">Salvar</button>
            </div>

        </div>
    </form>
    </div>

    @section script{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/bootstrap.validate.js"></script>

        <script>
            const select = document.getElementById('ChartType');
            const button = document.getElementById('Botao');
            button.addEventListener('click', function () {
                const selectedValue = select.value;

                if (selectedValue !== '' || selectedValue !== "Selecione o gráfico") {
                    localStorage.setItem('ChartType', selectedValue);
                    toastr.success("Tipo de gráfico salvo", "AlayPonto");
                } else {
                    toastr.error("Falha ao salvar", "AlayPonto");
                }
            });

            document.addEventListener('DOMContentLoaded', function () {
                const select = document.getElementById('ChartType');
                const savedValue = localStorage.getItem('ChartType');

                if (savedValue) {
                    select.value = savedValue;
                }
            });
        </script>
    }
