

@{
    ViewBag.Title = "Index";
}
<div class="configContainer vh-80">
    <div class="row">
        <div class="col-md-12">

            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                    <div class="col">
                        <div class="card  bg-danger radius-10 border-start border-0 border-3 border-info">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-light">Total funcionários</p>
                                        <h4 class="my-1 text-dark">55</h4>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  bg-success radius-10 border-start border-0 border-3 border-danger">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-light">Total departamento</p>
                                        <h4 class="my-1 text-dark">10</h4>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
                                        <i class="fa fa-dollar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  bg-dark radius-10 border-start border-0 border-3 border-success">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-light">Total cursos</p>
                                        <h4 class="my-1 text-dark">8</h4>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
                                        <i class="fa fa-bar-chart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  bg-warning radius-10 border-start border-0 border-3 border-warning">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-light">Total mensagens</p>
                                        <h4 class="my-1 text-dark">9</h4>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
                                        <i class="fa fa-users"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        @*Container do grafico*@
        <div class="col-md-8">
            <div class="">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <div class="col-6 ml-2 pr-0">
                            <select id="ChartType" class="form-control m-0">
                                <option selected>bar</option>
                                <option>line</option>
                                <option>pie</option>
                                <option>doughnut</option>
                                <option>polarArea</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn w-50 bt-lg btn-primary" value="Mostrar" id="ID">Mostrar</button>
                        </div>
                    </div>
                </div>
                @*Grafico*@
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <div id="ChartView">
                            <canvas id="myChart"></canvas>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        @*container dos pontuais*@
    <div class="col-md-4">
        <div class="row">
            <div class="d-flex align-items-center">
                <span class="mr-2">Trabalhadores pontuais:</span>
            </div>
        </div>
    </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function ($) {
        $('#ID').click(function () {
            var _ChartType = $('#ChartType').val()
             var ChartView = document.getElementById('ChartView');
             ChartView.innerHTML = '&nbsp;';

            $('#ChartView').append('<canvas id="myChart" style="max-width:100%; max-height:50vh;"></canvas>')
            $.ajax
                ({
                    type: "post",
                    url: "/Home/GetDados",
                    contextType: "application/json, charset=utf-8",
                    datatype: "json",
                    error: function (html) {

                    },
                    success: function (data) {
                        var _data = data;
                        var _chartLabels = _data[0]
                        var _chartdataPresenca = _data[1];
                        var _chartdataFaltas = _data[2];
                        var _barColorPresenca = _data[3];
                        var _barColorFaltas = _data[4];

                        new Chart("myChart", {
                            type: _ChartType,
                            data: {
                                labels: _chartLabels,
                                datasets: [
                                    //{
                                    //    label: 'Faltas',
                                    //    data: _chartdataFaltas,
                                    //    backgroundColor: _barColorFaltas
                                    //},
                                    {
                                        label: 'Presenças',
                                        data: _chartdataPresenca,
                                        backgroundColor: _barColorPresenca
                                    }
                                ]
                            }

                        })
                    }
                });

        })

});
</script>




@section script{

    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}